#container {
    text-align: center;
    margin: 40px auto;
    width: 720px;
    max-width: 100%;
    height: 481px;
  }
  
  .absolute {
    position: center;
    left: 50%;
    top: 210px;
    width: 900px;
    height: 700px;
  }
  