

<!-- in side the component -->

<div class="container mt-5" >
  <h1 style="color:red">Your Questions
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16">
      <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
      <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
      <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z"/>
    </svg>
  </h1>
  <hr>
   <!-- this is from Your Questions Component {{idO}} -->
  <form class="form-inline my-2 my-lg-1">
    <input class="form-control"type="text"
    placeholder="Search For Question" name="searchText"
      [(ngModel)]="searchText"
      (ngModelChange)="Search()">
  </form>
  <br><br>
  <hr>
  <br><br>
<div class="col-12" *ngFor="let question of questions | paginate:{itemsPerPage:8,
                                            currentPage:page,
                                            totalItems:totalLength}">
<div class=" card border-none mb-3">
<div class="card-header" ><b>{{question.questionKey | uppercase}}</b>
<blockquote class="blockquote">
<footer class="blockquote-footer"><cite title="Source Title">
{{question.dateQuestion}}</cite></footer>
</blockquote>
</div>
<div class="card-body">
<p class="card-text"><b>{{question.question}}</b></p>
</div>
<div class="card-footer">
  <!-- <button type="button" class="btn btn-link" routerLink="/etudiant/{{idO}}/question/{{this.question.idQuestion}}"> -->
    <button type="button" class="btn btn-link" (click)="commentsList(question.idQuestion)">
      <b>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>Comments ({{ getNumber(question.idQuestion) }})</b></button>
<!-- <button type="button" class="btn btn-link" (click)="GoToComment()">
  Comments ({{ getNumber(question.idQuestion) }})</button>
  <app-coment [idO]="this.question.idQuestion" *ngIf="comments" ></app-coment> -->
<button type="button"
class="btn btn-outline-danger btn-rounded pull-right"
data-mdb-ripple-color="dark"
 (click)="deleteQ(question.idQuestion)"><b>&nbsp;&nbsp;Delete
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
  </svg>&nbsp;&nbsp;</b></button>

<button type="button"
data-mdb-ripple-color="dark"
class="btn btn-outline-warning btn-rounded pull-right"
(click)="update(question.idQuestion)" style="margin-right: 40px;"><b>&nbsp;&nbsp;Update
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
   </svg> &nbsp;&nbsp;</b></button>

</div>
</div>
</div>
<b><i><pagination-controls (pageChange)="page = $event"></pagination-controls></i></b>
</div>

<!-- </mat-drawer-container> -->

