
/****menu side nav******/
.example-spacer {
    flex: 1 1 auto;
  }
  
  /*mat drawer container*/
  /*
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    width: 400px;
    height: 1000px;
  }
  
  .example-container {
    width: 2130px;
    height: 972px;
    border: 0px rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.253);
  } */
  /****menu side nav******/
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .nav-caption {
    display: inline-block;
    padding-left: 6px;
  }
  
  